<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Eat-Da-Burger!</title>
    <link rel="stylesheet" href="/assets/css/burger_style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>

    {{{body}}}
    <!-- jQuery -->.
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="">
        $(".btn").on("click", function (event) {
            console.log("----------click---------");
            event.preventDefault();

            var burgerNew = {
                burger_name: $('#burgerInput').val().trim();
            };
            // send an AJAX POST-request with jQuery
            $.post("/api/new", burgerNew)
                // on success, run this callback
                .then(function (data) {
                    // log the data we found
                    console.log(data);
                    // tell the user we're adding a character with an alert window
                    alert("Adding burger...");
                });

        });
    </script>
</body>

</html>