
.tocenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  }
  .btn, .row, .container{
    margin: 10px;
  }
 .burgerName{
    color:red;
    font-size: 40px;
  }
  label{
    color: rgb(7, 62, 145);
  }
  